<article
  class="clearfix"
  data-author="{{authorSlug}}"
  data-category="{{categorySlug}}">
  <header>
    <h1>{{title}}</h1>
    <div class="byline">
      By <address><a href="{{authorUrl}}">{{author}}</a></address>
      {{publishStatus}}
    </div>
  </header>
  <section class="article-body">{{{body}}}</section>
  <a href="#" class="read-on">Read on &rarr;</a>
</article>
